{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <h1 class="pt-5 pb-2">Holdet Optimizer</h1>
      <p class="lead">Calculate optimal team for the EURO 2024 fantasy game at <a href="https://holdet.dk/">holdet.dk</a> </p>

      <form method="POST">
        {{ team_form.hidden_tag() }}
        <div class="form-group">
          {{ team_form.bank_beholdning.label(class="form-label") }}
          {{ team_form.bank_beholdning(class="form-control") }}
          {% if team_form.bank_beholdning.errors %}
            <div class="alert alert-danger">
              {% for error in team_form.bank_beholdning.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <br>

        <div class="form-group">
          {{ team_form.options.label(class="form-label") }}
          {% if team_form.options.errors %}
            <div class="alert alert-danger">
              {% for error in team_form.options.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
          <div style="max-height: 300px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;">
            {{ team_form.options }}
          </div>
        </div>
        <br>
        <br>

        <p class="lead">Optimization factor weights (input values between 0 and 1):</p>

        <div class="form-group">
          {{ team_form.weight_team_win.label(class="form-label") }}
          {{ team_form.weight_team_win(class="form-control") }}
          {% if team_form.weight_team_win.errors %}
            <div class="alert alert-danger">
              {% for error in team_form.weight_team_win.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <br>
        <div class="form-group">
          {{ team_form.weight_player_goals.label(class="form-label") }}
          {{ team_form.weight_player_goals(class="form-control") }}
          {% if team_form.weight_player_goals.errors %}
            <div class="alert alert-danger">
              {% for error in team_form.weight_player_goals.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <br>
        <div class="form-group">
          {{ team_form.weight_player_assists.label(class="form-label") }}
          {{ team_form.weight_player_assists(class="form-control") }}
          {% if team_form.weight_player_assists.errors %}
            <div class="alert alert-danger">
              {% for error in team_form.weight_player_assists.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <br>
        <div class="form-group">
          {{ team_form.weight_player_cards.label(class="form-label") }}
          {{ team_form.weight_player_cards(class="form-control") }}
          {% if team_form.weight_player_cards.errors %}
            <div class="alert alert-danger">
              {% for error in team_form.weight_player_cards.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <br>
        <div class="form-group">
          {{ team_form.weight_player_clean_sheets.label(class="form-label") }}
          {{ team_form.weight_player_clean_sheets(class="form-control") }}
          {% if team_form.weight_player_clean_sheets.errors %}
            <div class="alert alert-danger">
              {% for error in team_form.weight_player_clean_sheets.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <br>
        <br>

        <div class="form-group">
          {{ team_form.submit(class="btn btn-primary") }}
        </div>
        <br>

      </form>

      {% if optimal_team_table %}
        <h2>Optimal Team</h2>
        {{ optimal_team_table | safe }}  <!-- Render the output HTML safely -->
      {% endif %}
    </div>
  </div>
</div>
<br>
{% endblock %}